 1 Write a code to reverse a string

In [4]:
str1=input("Enter the string :")
rev=str1[::-1]
print(rev)

Enter the string :pwskills
sllikswp

In [11]:
a=input("enter the String : ")
l=len(a)
for i in range(l-1,-1,-1):
    print(a[i],end="")

enter the String : shadab
badahs

2 write a code to find the number of vowels in a string

In [6]:
str2=input("Enter the string : ")
count=0
vowels=("a","e","i","o","u")
for i in str2:
    if i in vowels:
        count=+1
print(count)

Enter the string : pwskills
1

3.write a code to check if a given string is palindrome or not.

In [10]:
pal_str=input("Enter the string : ")
rev_str=pal_str[::-1]
if pal_str==rev_str:
    print("Palindrome")
else:
    print("not a palindrome")

Enter the string : mam
Palindrome

4.write a code to check if two strings are anagrams of each other

In [6]:
str1=input("enter the string 1 :")
str2=input("enter the string 2 :")
if len(str1) == len(str2):
    print("anagrams")
else:
    print("not anagrams")

enter the string 1 :pwskills
enter the string 2 :data analytics
not anagrams

5. Write a code to find all the occurrences of a given substring within another string

In [3]:
substring=input("Enter the substring : ")
string=input("Enter the string : ")
occurrence=substring.find(string)
print(occurrence)

Enter the substring : a aa aaa a
Enter the string : a aaa a
3

6. Write a code to perform basic string compression using the count of repeating characters

In [1]:
def compress_string(s):
    compressed_string = []
    count = 1
    if not s:
        return ""
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed_string.append(s[i - 1] + str(count))
            count = 1
    compressed_string.append(s[-1] + str(count))
    return ''.join(compressed_string)

In [2]:
compress_string("aabbcfcdd")

'a2b2c1f1c1d2'

7.Write a code to determine if a string has all unique characters

In [6]:
def string(s):
    for i in s:
        if s.count(i)> 1:
            return False
        else:
            return True

In [15]:
print(string('abcdefa'))

False

8. Write a code to convert a given string to uppercase or lowercase

In [13]:
def str_convert(a):
    if a==a.upper():
        return a.lower()
    else:
        return a.upper()

In [20]:
str_convert("SHADAB")

'shadab'

9. Write a code to count the number of words in string

In [29]:
string_1=input("Enter the words : ")
count=0
for i in (string_1):
    count=count+1
print(count)

Enter the words : pwskills
8

10. Write a code to concatenate two strings without using the + operator

In [33]:
string_one=input("Enter the string 1 : ")
string_two=input("Enter the string 2 : ")
new_string="{}{}".format(string_one,string_two)
print(new_string)

Enter the string 1 : pw
Enter the string 2 : skill
pwskill

11. Write a code to remove all occurrences of a specific element from a list

In [19]:
lst=[1,2,3,4,3,2,4,5,6,7,86,5,4,33,54]
new_lst=[]
for i in lst:
    if i not in new_lst:
        new_lst.append(i)
print(new_lst)

[1, 2, 3, 4, 5, 6, 7, 86, 33, 54]

12. Implement a code to find the second largest number in a given list of integers

In [20]:
lst=[1,3,5,6,9,8,7]
a=sorted(lst)
print(a[1])

3

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements
as keys and their counts as values

In [26]:
def count_occurrences(lst):
    counts = {}
    for i in lst:
        if i in counts:
            counts[i] += 1
        else:
            counts[i] = 1
    return counts

In [27]:
count_occurrences(["a","b","c","d"])

{'a': 1, 'b': 1, 'c': 1, 'd': 1}

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [82]:
lst=[1,2,3,4,5,6]
for i in range(len(lst)-1,-1,-1):
    print(lst[i],end=" ")

6 5 4 3 2 1

15.Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [88]:
list_=[1,1,2,3,4,3,34,2,23,5,6,86,6,6,6]
remove_lst=[]
for i in list_:
    if i not in remove_lst:
        remove_lst.append(i)
print(remove_lst)

[1, 2, 3, 4, 34, 23, 5, 6, 86]

16.Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [29]:
def is_sorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

In [30]:
is_sorted([1,2,4,5,6,4])

False

17.Write a code to merge two sorted lists into a single sorted list

In [47]:
lst_1=[1,2,3,4,5]
lst_2=[6,7,8,9,10]
sort_lst=[]
for i in lst_1,lst_2:
    sort_lst.extend(i)
print(sort_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

18.Implement a code to find the intersection of two given lists

In [11]:
lst_1=[1,2,3,4,5,3,5,7,4,9]
lst_2=[6,7,8,9,10,12,3,2,1,6]
intersection=[]
for i in lst_1,lst_2:
    if i not in intersection:
        intersection.extend(i)
print(set(intersection))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

19.Create a code to find the union of two lists without duplicates

In [18]:
lst_1=[1,2,3,4,5,3,5,7,4,9]
lst_2=[1,2,3,4,54,3,2,22,44,54]
union=[]
for i in lst_1,lst_2:
    union.extend(i)
    sets=set(union)
print(list(sets))

[1, 2, 3, 4, 5, 7, 9, 44, 54, 22]

20.Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [15]:
lst=[1,2,3,4,5,6,7]
n = len(lst)
for i in range(n-1,-1,-1):
        j = i + 1
        lst[i], lst[j] = lst[j], lst[i]
    
print(j)

IndexError: list index out of range

21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [38]:
t1=tuple(input("enter tuple 1 : "))
t2=tuple(input("enter tuple 2 : "))
new_tuple1=set(t1)
new_tuple2=set(t2)
common_tuple=new_tuple1 & new_tuple2
    
print(tuple(common_tuple))

enter tuple 1 : 23423
enter tuple 2 : 23232
('3', '2')

22.Create a code that prompts the user to enter two sets of integers separated by commas.Then,print the intersection of these two sets

In [45]:
def get_set_from_input(prompt):
    input_str = input(prompt)
    return set(map(int, input_str.split(',')))

def main():
    set1 = get_set_from_input("Enter the first set of integers separated by commas: ")
    set2 = get_set_from_input("Enter the second set of integers separated by commas: ")
    intersection = set1 & set2
    
    print("The intersection of the two sets is:", intersection)

In [47]:
main()

Enter the first set of integers separated by commas: 1,2,3,4,5,6,7
Enter the second set of integers separated by commas: 2,3,3,5,6,8,9
The intersection of the two sets is: {2, 3, 5, 6}

23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

In [49]:
tuple_1=tuple(input("enter the tuple 1 "))
tuple_2=tuple(input("enter the tuple 2 "))
new=tuple_1 + tuple_2
print(new)

enter the tuple 1 1234
enter the tuple 2 56789
('1', '2', '3', '4', '5', '6', '7', '8', '9')

24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [66]:
def get_set_from_input(prompt):
    input_str = input(prompt)
    return (map(str, input_str.split(',')))

def main():
    set1 = set(get_set_from_input("Enter the first set of integers separated by commas: "))
    set2 = set(get_set_from_input("Enter the second set of integers separated by commas: "))
    intersection = set1.symmetric_difference(set2)
    
    print("The intersection of the two sets is:", intersection)

In [67]:
main()

Enter the first set of integers separated by commas: abcdef
Enter the second set of integers separated by commas: abcfjgr
The intersection of the two sets is: {'abcdef', 'abcfjgr'}

25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [70]:
def subtuple_in_range(original_tuple, start_index, end_index):
    subtuple = original_tuple[start_index:end_index]
    return subtuple

In [71]:
subtuple_in_range((0, 1, 2, 3, 4, 5, 6, 7, 8, 9),2,5)

(2, 3, 4)

26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [6]:
set_1=set(input("Enter set 1 : "))
set_2=set(input("Enter set 2 : "))
set_1.union(set_2)

Enter set 1 : 12345
Enter set 2 : 65478

{'1', '2', '3', '4', '5', '6', '7', '8'}

27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [14]:
def tuple_unpacking(*t):
    min_val, max_val = t[0], t[0]
    
    for value in t[1:]:
        if value < min_val:
            min_val = value
        if value > max_val:
            max_val = value
    
    return (f"Max_value:{max_val}, Min_Value:{min_val}")

In [15]:
tuple_unpacking(1,2,3,4,5)

'Max_value:5, Min_Value:1'

28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [20]:
def set_s(s_1=set,s_2=set):
    union_set = s_1.union(s_2)
    inter_set=s_1.intersection(s_2)
    diff_set= s_1.difference(s_2)
    
    
    return ("Union",union_set,"Intersection",inter_set,"Difference",diff_set)

In [21]:
set_s({1,2,3,4,5},{3,6,7,9,6})

('Union',
 {1, 2, 3, 4, 5, 6, 7, 9},
 'Intersection',
 {3},
 'Difference',
 {1, 2, 4, 5})

29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [43]:
def count_t(t=tuple):
    c=0
    for i in t:
        c=+i
    return c

In [44]:
count_t((1,2,3,4,5,6))

6

30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [45]:
def sym_diff(set_1=set,set_2=set):
    diff=set_1.symmetric_difference(set_2)
    return ("the symmetric difference of two sets are " , diff)

In [46]:
sym_diff({1,2,3,4,5,6},{6,2,7,8,9,3})

('the symmetric difference of two sets are ', {1, 4, 5, 7, 8, 9})

31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [62]:
lst=["a","b","b","c","d","a"]
dic={}
for i in lst:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
print(dic)

{'a': 2, 'b': 2, 'c': 1, 'd': 1}

32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [69]:
dic_1={"a":1,"b":5,"c":3}
dic_2={"a":4,"b":5,"c":3,"d":7}
merged_dict = dic_1.copy()
for key, value in dic_2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value
    
print(merged_dict)

{'a': 5, 'b': 10, 'c': 6, 'd': 7}

33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [ ]:
# Unable to solve this question

34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [22]:
def sort_dict_by_value(input_dict, ascending=True):
    sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending)
    return dict(sorted_items)

In [23]:
sort_dict_by_value({'apple': 5,'banana': 2,'cherry': 8,'date': 1})

{'date': 1, 'banana': 2, 'apple': 5, 'cherry': 8}

35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [24]:
def invert_dict(dic):
    inverted_dic = {}
    for key, value in dic.items():
        if value in inverted_dic:
            if isinstance(inverted_dic[value], list):
                inverted_dic[value].append(key)
            else:
                inverted_dic[value] = [inverted_dic[value], key]
        else:
            inverted_dic[value] = key
    return inverted_dic

In [25]:
invert_dict({'x': 10,'y': 20,'z': 10,'w': 30,'v': 20})

{10: ['x', 'z'], 20: ['y', 'v'], 30: 'w'}